{% extends "template.html" %}
{% block conteudo1 %}
        <div class="card">
            <h5 class="card-header">Cadastre-se</h5>
            <div class="card-body">
                <h5 class="card-title">Crie o seu cadastro...</h5>
                <p class="card-text">Com seu cadastro, você terá acesso as funcionalidades da agenda web.</p>
                <a href="cadastrar" class="btn btn-primary"><i class="bi bi-person-plus"> Cadastre-se</i></a>
            </div>
        </div>
{% endblock %}
{% block conteudo2 %}
        <div class="card">
            <h5 class="card-header">Entrar</h5>
            <div class="card-body">
                <h5 class="card-title">Faça seu login</h5>
                <p class="card-text">Ao entrar, terá acesso aos seus contatos e outras funcionalidades.</p>
                <a href="/login" class="btn btn-primary"><i class="bi bi-box-arrow-in-right"> Entrar</i></a>
            </div>
        </div>
{% endblock %}