{% extends 'template.html' %}
{% block conteudo1 %}
<div class="card">
  <h5 class="card-header">Meus Usuários</h5>
  <div class="card-body">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Telefone</th>
          <th scope="col">E-mail</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        {% for user in usuarios %}
        <tr>
          <th scope="row">{{ user[0] }}</th>
          <td>{{ user[1] }}</td>
          <td>{{ user[2] }}</td>
          <td>{{ user[3] }}</td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  function deletarContato(id){
    resp = confirm('Excluir contato '+id+'?')
    if(resp){
      window.location.href = '/deletar_contato/'+id;
    }
  }
</script>
{% endblock %}

{% block conteudo2 %}
<div class="card">
    <h5 class="card-header">Gerencie seus contatos</h5>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Adicione, liste, pesquisa, edite e exclua seus contatos.</p>
    </div>
</div>
{% endblock %}