{% extends "template.html" %}
{% block conteudo1 %}
        <div class="card">
            <h5 class="card-header">Painel 1</h5>
            <div class="card-body">
                Paienl Conteudo 1
            </div>
        </div>
{% endblock %}
{% block conteudo2 %}
        <div class="card">
            <h5 class="card-header">Painel</h5>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Conteudo 2</p>
            </div>
        </div>
{% endblock %}